.error404__status-wrapper {
    width: 420px;
    margin-top: 16.7vh;
    margin-right: auto;
    margin-left: auto;
    padding-top: 94px;
    text-align: center;
    font-size: 30px;
    background-image: url('../../../public/img/page-not-found.png');
    background-size: 60px 73px;
    background-position: center top;
    background-repeat: no-repeat;
}

.error__link-to-main {
  border: 3px solid gray;
  border-radius: 20%;
  color:darkslategrey;
  text-align: center;
  width: 150px;
  margin: 0 auto;
}
